@{
    ViewData["Title"] = "Error";
}

<div class="row mt-3">
    <img src="https://studiowebness.net/wp-content/uploads/2024/08/9aae76309a614c85f880512d8fe7df158fec52cc.jpg" alt="Not found picture" class="img-thumbnail">
    <div class="text-center mt-3">
        <p>Internal server error.</p>
    </div>
    <div class="text-center mb-5">  Go back to <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Home Page</a></div>
</div>