@{
	ViewData["Title"] = "Error";
}

<div class="container access-denied">
	<div class="col-6">
		<div class="row mt-3">
			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgUiF5aDFPanZFTTY-L0qzkLWKjMd6DHYkvY_O_NZ-2fqkZk9kjdAGvADpRPGX93YncRU&usqp=CAU" alt="Error" class="img-thumbnail">
			<div class="text-center mb-5 mt-3">  Go back to <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Home Page</a></div>
		</div>
	</div>
</div>