<h2 class="order-done">Thank you for your order!</h2>
<p class="order-done">
	Thank you for choosing our bookstore for your order.
	<div class="w-100"></div>
	Expect your order in 4 to 9 business days.
	<div class="w-100"></div>
	For more information, you can contact our team.
</p>

<div class="w-100"></div>
<div class="w-100"></div>

<p class="order-done">
	Phone number: 0897213321
	<div class="w-100"></div>
	Email: bookstoreApp@gmail.com
</p>


<div class="w-100"></div>
<div class="container">
	<div class="row justify-content-end">
		<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
              <h1>
	                 <a asp-action="GetAllBooks" asp-controller="Bookstore" class="btn btn-warning btn-warning py-3 mb-2 w-100 fw-bold rounded btn-dark-text">Continue shopping</a>
			   </h1>
		</div>
	</div>
</div>